body{
    background-image: url();
    background-repeat: no-repeat;
    background-color:palevioletred;
    margin: auto;

}
.form{
    background-image: url();
    background-repeat: no-repeat;
    background-color:pink;
    margin: 100px;
    width: 300px;
    
    
    
}